@{ 

    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h3>You Have already Participated in this form</h3>
<a href="/Participant/Index/" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back</a>