@model FYP.ViewModel.PFormViewModel
@{
    ViewBag.Title = "FormParticipate";
}

<h2>FormParticipate</h2>

@using (Html.BeginForm("FormParticipate", "Participant", new { id = ViewBag.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    if (Model.Ques.Count != 0)
    {

     <div class="form-group">
       
        
        @for (var i = 0; i < Model.Ques.Count(); i++)
        {
            <p>@Model.Ques[i].QuestionString</p>

            for (var j = 0; j < Model.Ques[i].Answer.Count(); j++)
            {
                    @Html.RadioButtonFor(m => m.Ques[i].SelectedAnswerId, Model.Ques[i].Answer[j].AnswerID, new { id = "Question" + i.ToString() + "Answer" + j.ToString() })
                    <label for="Ques@(i)Answer@(j)">@Model.Ques[i].Answer[j].AnswerStatement</label>
            }
        }



    </div>
     <div>
            <input type="submit" value="Save" />
      </div>
    }
    else
    {
        <p>Form is empty</p>
    }
}
