@model IEnumerable<FYP.Models.Community>
@{
    ViewBag.Title = "Search Community";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}
<h2>Results</h2>
@foreach (var item in Model)
{   
    <div class="row">

        <div class="col-md-offset-3 col-md-2">

            <!--logo-->
                        <img src="~/CommunityImages/@item.CommunityLogo" alt="#" class="thumbnail">
        

        </div>

        <div class="col-md-3">

            @Html.DisplayFor(modelItem => item.CommunityName)
            <br>
            @item.CommunityUsers.Count() members
            <br>
            @Html.DisplayFor(modelItem => item.CommunityAbout)


        </div>

        <div class="col-md-1">


            @Html.ActionLink("Visit", "ParticipantViewDetail", new { id = item.CommunityID })
            
        </div>
    </div>
    
}

