@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<div class="container">

    <div class="jumbotron" style="position: center">

        <h2>Sorry</h2>

        <p>
            An error occurred while processing your request.
        </p>


    </div>



</div>

