@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}



<div class="container">

    <div class="jumbotron" style="position: center">

        <h2>Account Disabled</h2>

        <p>
        Your account has been disabled for 30 minutes because of too many invalid login attempts.
        </p>


    </div>



</div>