
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}



<div class="container">
    
    <div class="jumbotron" style="position: center">
        
        <h2>Email Verified</h2>

        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
        

    </div>
    
    

</div>