
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h2>ConfirmEmail</h2>

<p>
    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>
