
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h2>ForgotPasswordConfirmation</h2>

<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>