@*@model FYP.Models.Community

@{
    Layout = null;
}

<a class="btn btn-primary" href="/admin/ViewDetails/@Model.CommunityID/"><i class="fa fa-arrow-left"></i>Back</a>


@using (Html.BeginForm("Delete", "admin", FormMethod.Post))
{
    
        @Html.HiddenFor(a => a.CommunityID)
        <div class="form-group">
            <label>CommunityName</label>
            <p>@Model.CommunityName</p>
        </div>

        <div class="form-group">
            <label>Community Domain</label>
            <p>@Model.CommunityDomain</p>
        </div>

        <div>
        <input type="submit" value="Delete" />
    </div>
}*@