@model FYP.ViewModel.FormResultViewModel
@{
    ViewBag.Title = "FormResult";
}

<h2>Form Data</h2>

<div class="container">

    @if (Model.Ques.Count == 0)
    {
        <p>Form is Empty Click Here to add Question @Html.ActionLink("AddQuestion", "AddQuestion", new { controller = "Admin", c_id = Model.comid, qf_id = Model.qf_id, ft = Model.ft}) </p>

    }
    else
    {

        for (var i = 0; i < Model.Ques.Count; i++)
        {
            <p>@Model.Ques[i].QuestionString </p> 
            <img src="@Url.Action("ResultChart",new {qid = Model.Ques[i].QuestionID})" alt="SimpleChart" />
            <br />
        }

    }

</div>