
@{
    Layout = null;
}

<div class="container">
    @using (Html.BeginForm("RemoveMember", "admin", new {uid = ViewBag.uid, cid = ViewBag.cid, a = 0, id = "popupForm" }, FormMethod.Post))
    {

        <text>Are you sure you want to delete this Member??</text>

        <br />

        <div class="row">

            <div class="col-md-2">
                <button class="btn btn-primary" type="submit">Yes </button>
            </div>

            <div class="col-md-2">
                <a href="/Admin/ViewDetails/@ViewBag.cid/" class="btn btn-primary">No</a>
            </div>
        </div>
    }

</div>
<script src="~/Scripts/DeletePopup.js"></script>